<a href="https://colab.research.google.com/github/mahfuz978/TECH.I.S-Fundamentals/blob/main/Mahfuzur_Rahman_py_10_1_1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Strings**
* strings are *ordered* sequence of characters
* strings are *immutable*
 * i.e. cannot be modified after being created

**Defining Strings**

In [24]:
name_one = 'TECH I.S.' # singe quotes
print(name_one)

name_two = "TECH I.S." # double quotes
print(name_two)

name_three ="""
multiline
support with triple single quotes or double
"""
print(name_three)

name_four = 'Hello! i am "MAHFUZUR", a Tech I.S student.'
print(name_four)

TECH I.S.
TECH I.S.

multiline
support with triple single quotes or double

Hello! i am "MAHFUZUR", a Tech I.S student.

**String Immutability Test**

In [26]:
# define_string
s = 'hello'
s[0] = 'y' # it shows error because it doesn't support item assignment/ can't be moved

TypeError: ignored

In [27]:
"""
however, rebinding works
reassigning s with 'y' concatenatedwith 'ello' extracted from s
"""
s = 'y'+ s[1:len(s)] + 'w'
print(s)

yellow

**String Concatenation**

In [28]:
first_name = 'Mahfuzur'
last_name = 'Rahman'
full_name = first_name + " " + last_name
print(full_name)

Mahfuzur Rahman

**String Multiplication**

In [29]:
name = 'Hyato '
print(name)
name_thrice = name*3
print(name_thrice)
print(name*4)
print(name*10)

Hyato
Hyato Hyato Hyato
Hyato Hyato Hyato Hyato
Hyato Hyato Hyato Hyato Hyato Hyato Hyato Hyato Hyato Hyato

**String Length**

In [30]:
# to check the length of the string
name = 'Mahfuzur Rahman'
len(name)

15

In [31]:
counter = 0
for c in "Mahfuzur Rahman":
  counter += 1
print(counter)

15

**String Indexing**

In [32]:
# define a string
s = "abc"

# indexing starts from 0 in python

# use square brackets and the index number to access the the data
print(s[0])
print(s[1])
print(s[2])

print(s[-1])
print(s[-2])
print(s[-3])

print(s[3]) # this will give you an error because it doesn't exist

a
b
c
c
b
a

IndexError: ignored

**String Slicing**
* extract sub-selections of a string
* slice strings using format `[start:stop:step]`
 * step = 1 by default
 * you may also omit numbers and use only colons (:)

In [33]:
s = "abcdefgh"

print(s[3:6])
print(s[3:6:1])
print(s[3:6:2])
print(s[::])
print(s[::-1])
print(s[4:1:-2])

def
def
df
abcdefgh
hgfedcba
ec

#**Lists**

* lists are ordered sequences od objects
 * they are mutable

In [34]:
# define a list
new_list = [3,7,20,'@ ', 'TECH I.S.', ' makes learning fun!']

# view list 
print(new_list)

[3, 7, 20, '@ ', 'TECH I.S.', ' makes learning fun!']

***Accessing List Elements***
* indexing in lists works just like strings 
* indexing starts from zero

In [35]:
# define a list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun!']

print(new_list[0]) # will print the first element
print(new_list[1]) # will print the second element
print(new_list[2]) # will print the third element
print(new_list[3]) # will print the fourth element

print(new_list[-1]) # will print the first element from opposite direction
print(new_list[-2]) # will print the second element from opposite direction
print(new_list[-3]) # will print the third element from opposite direction
print(new_list[-4]) # will print the fourth element from opposite direction

3
7
20
@
makes learning fun!
TECH I.S.
@
20

***Nested Lists***
* lists can be embedded inside lists
 * multiple nesting is also supported

In [36]:
# define nested lists
nested_list = [
               [1,2,3],
               ['a', 'b', 'c'],
               [True, False, 7],
              ]

# check nested list 
print(nested_list)

[[1, 2, 3], ['a', 'b', 'c'], [True, False, 7]]

***List Mutablity Test***

In [37]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun!']

# try changing content in the list
new_list[2] = 'one' # accepts change

# check list
print(new_list)

[3, 7, 'one', '@', 'TECH I.S.', 'makes learning fun!']

***Append to list***
* append can add *only one* element at the end of the list at a time

In [38]:
# define a list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun']

# print new list
print(new_list)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun']

In [39]:
# append 'wohoo' to the new_list
new_list.append('wohoo!')

# check the appended value
print(new_list)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun', 'wohoo!']

***Extend List***
* used to add multiple elements at the end of the list

In [40]:
# define a list
new_list = [3,7,20, 'TECH I.S.', 'makes learning fun!']

print(new_list)

[3, 7, 20, 'TECH I.S.', 'makes learning fun!']

In [41]:
# extend the new_list variable with multiple elements ina an array
new_list.extend(['let,s', 'do', 'this!'])
# note: multiple elements have to be input in array

print(new_list)

[3, 7, 20, 'TECH I.S.', 'makes learning fun!', 'let,s', 'do', 'this!']

***Insert To List***
* can add an element at a given position in the list
* can add only one element at the time
* two arguments:
 * first argument specifies the position
 * second argument specifies the element to be inserted

In [42]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun!']

# insert element 'Chocolate' at spot 3 in a new_list
new_list.insert(3, 'Chocolate')

# check insertion
print(new_list)

[3, 7, 20, 'Chocolate', '@', 'TECH I.S.', 'makes learning fun!']

In [43]:
new_list.insert(4,'cookies')

In [44]:
print(new_list)

[3, 7, 20, 'Chocolate', 'cookies', '@', 'TECH I.S.', 'makes learning fun!']

***Remove from List***
* used to remove an element from the list
 * in the case of multiple occurrences, only the first is removed

In [45]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun']

# remove 20 from the new list
new_list.remove(20)

# check removal
print(new_list)

[3, 7, '@', 'TECH I.S.', 'makes learning fun']

***Pop from List***
* can remove an element from any position in the list
 * removes index item
* element is not specified like in remove() method, inly the index option

In [46]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes lerning fun!']

# pop spot 2 from list
new_list.pop(2)

# check listr
print(new_list)

[3, 7, '@', 'TECH I.S.', 'makes lerning fun!']

***remove() vs. pop()***
*  the remove() function removes an element by identification
 * new_list.remove(element_to_remove)
* the pop() function removes an element by index indentification
 * new_list.remove(index_number_to_remove)

***List Slicing***
* used to extract a sub-selection of the list
 * index access works like string indexing and slicing

In [47]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun!']

# extract combinations of new_list extracts
print(new_list[:4])
print(new_list[2:])
print(new_list[1:5])
print(new_list[:])

[3, 7, 20, '@']
[20, '@', 'TECH I.S.', 'makes learning fun!']
[7, 20, '@', 'TECH I.S.']
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']

***Reverse a List***
* used to reverse the elements of a list
* can be done in two ways
 * by modifying the original list
 * without modifying the original list

In [48]:
# define list
new_list = [3, 7, 20, '@', 'TECH I.S.', 'MAKES LEARNING FUN']

# without modifying the original list
print(new_list[::-1])
print(new_list) # this is the unmodified one in the middle

# modify the original list
new_list.reverse()
print(new_list)

['MAKES LEARNING FUN', 'TECH I.S.', '@', 20, 7, 3]
[3, 7, 20, '@', 'TECH I.S.', 'MAKES LEARNING FUN']
['MAKES LEARNING FUN', 'TECH I.S.', '@', 20, 7, 3]

***Length of a List***
* returns the number of elements in the list

In [49]:
# define list
new_list = [3,7,20, '@', 'TECHI.S.', 'makes learning really fun!']

# print length of new_list
len(new_list)

6

***Min & Max Values of a List***
* min() returns the *minimum* value in the list
* max() returns the *maximum* value in the list
* NOTE: both methods accept only *homogeneous* lists
 * i.e. list having elements of similar data types

In [50]:
# define list
new_list = [8,12,7,10,53,33,21,99]

# check min and max of new list
print(min(new_list))
print(max(new_list))

# define list
new_list = ['x', '10', '99', 'twenty', '%$', '--']

# check the min and max of new_list
print(min(new_list))
print(max(new_list))

7
99
%$
x

***Count of an Element***
* returns the number of uccurrences of a given element in the list

In [51]:
# define list
new_list = [3, 4 , 7, 7 , 8, 90]

# count the number of uccurences of 7
print(new_list.count(7))

# count the number of uccurences of 10
print(new_list.count(4))

2
1

***Concatenate Lists***
* used to merge two lists and return a single list

In [52]:
# define two lists
first_list = ['three', 'hundred']
print(first_list)

second_list = ['words', 'in', 'a', 'paragraph']
print(second_list)

# concatenate lists
combined_list = first_list + second_list
print(combined_list)

['three', 'hundred']
['words', 'in', 'a', 'paragraph']
['three', 'hundred', 'words', 'in', 'a', 'paragraph']

***Multiply List Content***
* allows duplicating the list n times
* resultant list is the original list iterated n times

In [53]:
# define list
new_list = [3,4,5,'I a']

# multiply list
print(new_list*2)
print(new_list*3)

[3, 4, 5, 'I a', 3, 4, 5, 'I a']
[3, 4, 5, 'I a', 3, 4, 5, 'I a', 3, 4, 5, 'I a']

***Location of the first Occurence***
* index() method returns the positionof the first uccurence of the given element
* optional parameters:
 * the begin index and
 * the end index
* when optional arguments are given:
 * the element is searched only in the sub-list bound by begin and end indices
* When not supplied,
 * the element is searched in the whole list

In [54]:
new_list = [3,7,20, '@', 'TECH I.S.', 'makes learning really fun!']

# search index of 'TECH I.S.'
print(new_list.index('TECH I.S.'))

# search '@' with optional arguments
print(new_list.index('@', 1,4))

4
3

***Sort a List in Place***
* sort method sorts the list in ascending order
 * can only be performed on homogeneous lists, i.e. lists having elements of similar data type

In [55]:
# define list
new_list = [4,2,6,5,0,1]

# check unsorted list
print(new_list)

# sort list
new_list.sort()

# check sorted list
print(new_list)

[4, 2, 6, 5, 0, 1]
[0, 1, 2, 4, 5, 6]

***Create copy of Sorted List***
* leave the original list unsorted
 * but create a new list with sorted items

In [56]:
new_list = [1,3,7,3,9,8,0]

# put the sorted list in its own variable
# sorted_list = new_list.sort()
# # or
new_sorted_list = sorted(new_list)

# check original list
print(new_list)

# print sorted list
# print(sorted_list)
print(new_sorted_list)

[1, 3, 7, 3, 9, 8, 0]
[0, 1, 3, 3, 7, 8, 9]

***Erase List Content***

In [57]:
# define list
new_list  = [6,4,5,9,0]

# check un-sorted list
print(new_list)

# clear list
new_list.clear()

# check cleared list
print(new_list)

[6, 4, 5, 9, 0]
[]

#**Tuples**
* tuples are ordered sequences of objects
 * they are immutable
 * i.e. their content can not be changed after creation

***Define a Tuple***

In [58]:
# create a new tuple - without specifying brackets
new_tuple_one = 1,2,3,4

# print tuple
print(new_tuple_one)

(1, 2, 3, 4)

In [59]:
# create a new tuple with brackets
new_tuple_two = (5, 6, 'python', 8)

# print tuple
print(new_tuple_two)

(5, 6, 'python', 8)

In [60]:
# create empty tuple
empty_tuple = ()

print(empty_tuple)

()

In [61]:
# create tuple using constructor
new_tuple_three = tuple(('apple', 'banana', 'cherry'))

print(new_tuple_three)

('apple', 'banana', 'cherry')

In [62]:
# single element tuples
new_tuple_wrong = ('apple') # wrong single element tuple
print(type(new_tuple_wrong)) # outputs string
print(new_tuple_wrong)

new_tuple_right = ('apple',)
print(type(new_tuple_right))
print(new_tuple_right)

<class 'str'>
apple
<class 'tuple'>
('apple',)

***Indexing Tuple***
* indexing in tuples works just like strings

In [63]:
# define a tuple
new_tuple = 'apples' , 'bananas', 'oranges', 'berry', 'mango'

print(new_tuple[0])
print(new_tuple[1])
print(new_tuple[2])
print(new_tuple[3])
print(new_tuple[4])

print(new_tuple[-1])
print(new_tuple[-2])
print(new_tuple[-3])
print(new_tuple[-4])

print(new_tuple[5])# this will throw error because there is no fifth element

apples
bananas
oranges
berry
mango
mango
berry
oranges
bananas

IndexError: ignored

***Tuple Immutability Test***

In [64]:
# define Tuple
new_tuple = (1,7,'$', 'Summers', 'Winters')

# try changing tuple content
new_tuple[4] = 'h'# it will not let you because tuples can't be changed

TypeError: ignored

***Concatenation of Tuples***
* tuples are immutable, hence the data stored in a tuple can't be edited
* but it is possible to merge two tuples to create a new tuple

In [65]:
# define two new tuple
new_tuple_one = 9,5,6,4,2,1
new_tuple_two = 'a', 5, 7, 6, 3, 1

print(new_tuple_one)
print(new_tuple_two)

# add a new element
merged_tuple = new_tuple_one + new_tuple_two

# check merged tuple
print(merged_tuple)

(9, 5, 6, 4, 2, 1)
('a', 5, 7, 6, 3, 1)
(9, 5, 6, 4, 2, 1, 'a', 5, 7, 6, 3, 1)

***Multiplication (Duplication) of Tuples***
* duplicated the content of a tuple, the specified number of times

In [66]:
# define tuple
new_tuple = 'a', 5, 7, 6, 3, 1

print(new_tuple)

# multiply and print result
print(new_tuple*2)
print(new_tuple*3)

('a', 5, 7, 6, 3, 1)
('a', 5, 7, 6, 3, 1, 'a', 5, 7, 6, 3, 1)
('a', 5, 7, 6, 3, 1, 'a', 5, 7, 6, 3, 1, 'a', 5, 7, 6, 3, 1)

***Length of a Tuple***

In [67]:
# define a tuple
new_tuple = 'a', 5, 7, 6, 3, 1

len(new_tuple)

6

***Min & Max Values of a Tuple***
* min() returns the minimum value in the tuple
* max() returns the maximum value in the tuple
* both methods accept only homogeneous tuples
 * i.e. tuples having elements of similar data type

In [68]:
# define tuple
new_tuple = 8,12,7,10,52,33,21,99

# check min and max of new_tuple
print(min(new_tuple))
print(max(new_tuple))

# define list
new_tuple = 'x', '10', '99', 'twenty', '%$', '--'

# check min and max of new list
print(min(new_tuple))
print(max(new_tuple))

7
99
%$
x

***Count of an Element in a Tuple***

In [69]:
# define tuple
new_tuple = 5,3,6,3,1,3,2,3

# count the number of 3s in the tuple
print(new_tuple.count(3))

4

***Location of First Occurence***

In [70]:
print(new_tuple.index(3)) # this will tell you in which index '3' shows up first

1

***Delete a Tuple***
* you cannot remove the elements in a tuple
* but you can delete an entire tuple

In [71]:
new_tuple = 5,3,6,3,1,3,2,3

print(new_tuple)

# to delete the tuple
del(new_tuple)

# check deletion
print(new_tuple)# error because it has been deleted/ nothing there

(5, 3, 6, 3, 1, 3, 2, 3)

NameError: ignored

#**Identity Operators**
* used to compare objects
 * not if they are equal
 * but if they are actually the same object
   * *with the same memory location*
* two identity operators are:
 * is
 * is not

In [72]:
# define lists
x = ['apple', 'banana']
y = ['apple', 'banana']
z = x

# 'is' test
print(x is z)

# 'is'test
print(x is y)

# equality test
print(x == y)

# 'is not' test
print(x is not y)

True
False
True
True

#**Membership Operators**
* used to yest if a sequence has specified object
* two membership operators are:
 * in
 * not in

In [73]:
# define list 
x  = ['apple', 'banana']

# 'in' test
print('banana' in x)

# 'in' text
print('pineapple' in x)

# 'not in' test
print('pineapple' not in x)

True
False
True