<a href="https://colab.research.google.com/github/mahfuz978/TECH.I.S-Fundamentals/blob/main/Mahfuzur_Rahman_py_10_1_1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Strings**
* strings are *ordered* sequence of characters
* strings are *immutable*
 * i.e. cannot be modified after being created

**Defining Strings**

In [ ]:
name_one = 'TECH I.S.' # singe quotes
print(name_one)

name_two = "TECH I.S." # double quotes
print(name_two)

name_three ="""
multiline
support with triple single quotes
"""
print(name_three)

name_four = 'Hello! i am "MAHFUZUR", a Tech I.S student.'
print(name_four)

TECH I.S.
TECH I.S.

multiline
support with triple single quotes

Hello! i am "MAHFUZUR", a Tech I.S student.

**String Immutability Test**

In [ ]:
# define_string
s = 'hello'
s[0] = 'y' # it shows error because it can't be sliced- hence immutable

TypeError: ignored

In [ ]:
"""
however, rebinding works
reassigning s with 'y' concatenatedwith 'ello' extracted from s
"""
s = 'y'+ s[1:len(s)] + 'w'
print(s)

yellow

**String Concatenation**

In [ ]:
first_name = 'Mahfuzur'
last_name = 'Rahman'
full_name = first_name + " " + last_name
print(full_name)

Mahfuzur Rahman

**String Multiplication**

In [ ]:
name = 'Hyato '
print(name)
name_thrice = name*3
print(name_thrice)
print(name*4)
print(name*10)

Hyato
Hyato Hyato Hyato
Hyato Hyato Hyato Hyato
Hyato Hyato Hyato Hyato Hyato Hyato Hyato Hyato Hyato Hyato

**String Length**

In [ ]:
# to check the length of the string
name = 'Mahfuzur Rahman'
len(name)

15

In [ ]:
counter = 0
for c in "Mahfuzur Rahman":
  counter += 1
print(counter)

15

**String Indexing**

In [ ]:
# define a string
s = "abc"

# indexing starts from 0 in python

# use square brackets and the index number to access the the data
print(s[0])
print(s[1])
print(s[2])

print(s[-1])
print(s[-2])
print(s[-3])

print(s[3]) # this will give you an error

a
b
c
c
b
a

IndexError: ignored

**String Slicing**
* extract sub-selections of a string
* slice strings using format `[start:stop:step]`
 * step = 1 by default
 * you may also omit numbers and use only colons (:)

In [ ]:
s = "abcdefgh"

print(s[3:6])
print(s[3:6:1])
print(s[3:6:2])
print(s[::])
print(s[::-1])
print(s[4:1:-2])

def
def
df
abcdefgh
hgfedcba
ec

#**Lists**

* lists are ordered sequences od objects
 * they are mutable

In [1]:
# define a list
new_list = [3,7,20,'@ ', 'TECH I.S.', ' makes learning fun!']

# view list 
print(new_list)

[3, 7, 20, '@ ', 'TECH I.S.', ' makes learning fun!']

***Accessing List Elements***
* indexing in lists works just like strings 
* indexing starts from zero

In [ ]:
# define a list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun!']

print(new_list[]) # will print the first element
print(new_list[]) # will print the second element
print(new_list[]) # will print the third element
print(new_list[]) # will print the fourth element

print(new_list[]) # will print the first element from opposite direction
print(new_list[]) # will print the second element from opposite direction
print(new_list[]) # will print the third element from opposite direction
print(new_list[]) # will print the