<a href="https://colab.research.google.com/github/mahfuz978/TECH.I.S-Fundamentals/blob/main/Mahfuzur_Rahman_py_10_1_1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Strings**
* strings are *ordered* sequence of characters
* strings are *immutable*
 * i.e. cannot be modified after being created

**Defining Strings**

In [ ]:
name_one = 'TECH I.S.' # singe quotes
print(name_one)

name_two = "TECH I.S." # double quotes
print(name_two)

name_three ="""
multiline
support with triple single quotes or double
"""
print(name_three)

name_four = 'Hello! i am "MAHFUZUR", a Tech I.S student.'
print(name_four)

TECH I.S.
TECH I.S.

multiline
support with triple single quotes or double

Hello! i am "MAHFUZUR", a Tech I.S student.

**String Immutability Test**

In [ ]:
# define_string
s = 'hello'
s[0] = 'y' # it shows error because it doesn't support item assignment/ can't be moved

TypeError: ignored

In [ ]:
"""
however, rebinding works
reassigning s with 'y' concatenatedwith 'ello' extracted from s
"""
s = 'y'+ s[1:len(s)] + 'w'
print(s)

yellow

**String Concatenation**

In [ ]:
first_name = 'Mahfuzur'
last_name = 'Rahman'
full_name = first_name + " " + last_name
print(full_name)

Mahfuzur Rahman

**String Multiplication**

In [ ]:
name = 'Hyato '
print(name)
name_thrice = name*3
print(name_thrice)
print(name*4)
print(name*10)

Hyato
Hyato Hyato Hyato
Hyato Hyato Hyato Hyato
Hyato Hyato Hyato Hyato Hyato Hyato Hyato Hyato Hyato Hyato

**String Length**

In [ ]:
# to check the length of the string
name = 'Mahfuzur Rahman'
len(name)

15

In [ ]:
counter = 0
for c in "Mahfuzur Rahman":
  counter += 1
print(counter)

15

**String Indexing**

In [ ]:
# define a string
s = "abc"

# indexing starts from 0 in python

# use square brackets and the index number to access the the data
print(s[0])
print(s[1])
print(s[2])

print(s[-1])
print(s[-2])
print(s[-3])

print(s[3]) # this will give you an error because it doesn't exist

a
b
c
c
b
a

IndexError: ignored

**String Slicing**
* extract sub-selections of a string
* slice strings using format `[start:stop:step]`
 * step = 1 by default
 * you may also omit numbers and use only colons (:)

In [ ]:
s = "abcdefgh"

print(s[3:6])
print(s[3:6:1])
print(s[3:6:2])
print(s[::])
print(s[::-1])
print(s[4:1:-2])

def
def
df
abcdefgh
hgfedcba
ec

#**Lists**

* lists are ordered sequences od objects
 * they are mutable

In [ ]:
# define a list
new_list = [3,7,20,'@ ', 'TECH I.S.', ' makes learning fun!']

# view list 
print(new_list)

[3, 7, 20, '@ ', 'TECH I.S.', ' makes learning fun!']

***Accessing List Elements***
* indexing in lists works just like strings 
* indexing starts from zero

In [ ]:
# define a list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun!']

print(new_list[0]) # will print the first element
print(new_list[1]) # will print the second element
print(new_list[2]) # will print the third element
print(new_list[3]) # will print the fourth element

print(new_list[-1]) # will print the first element from opposite direction
print(new_list[-2]) # will print the second element from opposite direction
print(new_list[-3]) # will print the third element from opposite direction
print(new_list[-4]) # will print the fourth element from opposite direction

3
7
20
@
makes learning fun!
TECH I.S.
@
20

***Nested Lists***
* lists can be embedded inside lists
 * multiple nesting is also supported

In [ ]:
# define nested lists
nested_list = [
               [1,2,3],
               ['a', 'b', 'c'],
               [True, False, 7],
              ]

# check nested list 
print(nested_list)

[[1, 2, 3], ['a', 'b', 'c'], [True, False, 7]]

***List Mutablity Test***

In [ ]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun!']

# try changing content in the list
new_list[2] = 'one' # accepts change

# check list
print(new_list)

[3, 7, 'one', '@', 'TECH I.S.', 'makes learning fun!']

***Append to list***
* append can add *only one* element at the end of the list at a time

In [ ]:
# define a list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun']

# print new list
print(new_list)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun']

In [ ]:
# append 'wohoo' to the new_list
new_list.append('wohoo!')

# check the appended value
print(new_list)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun', 'wohoo!']

***Extend List***
* used to add multiple elements at the end of the list

In [ ]:
# define a list
new_list = [3,7,20, 'TECH I.S.', 'makes learning fun!']

print(new_list)

[3, 7, 20, 'TECH I.S.', 'makes learning fun!']

In [ ]:
# extend the new_list variable with multiple elements ina an array
new_list.extend(['let,s', 'do', 'this!'])
# note: multiple elements have to be input in array

print(new_list)

[3, 7, 20, 'TECH I.S.', 'makes learning fun!', 'let,s', 'do', 'this!', 'let,s', 'do', 'this!']

***Insert To List***
* can add an element at a given position in the list
* can add only one element at the time
* two arguments:
 * first argument specifies the position
 * second argument specifies the element to be inserted

In [ ]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun!']

# insert element 'Chocolate' at spot 3 in a new_list
new_list.insert(3, 'Chocolate')

# check insertion
print(new_list)

[3, 7, 20, 'Chocolate', '@', 'TECH I.S.', 'makes learning fun!']

In [ ]:
new_list.insert(4,'cookies')

In [ ]:
print(new_list)

[3, 7, 20, 'Chocolate', 'cookies', '@', 'TECH I.S.', 'makes learning fun!']

***Remove from List***
* used to remove an element from the list
 * in the case of multiple occurrences, only the first is removed

In [ ]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun']

# remove 20 from the new list
new_list.remove(20)

# check removal
print(new_list)

[3, 7, '@', 'TECH I.S.', 'makes learning fun']

***Pop from List***
* can remove an element from any position in the list
 * removes index item
* element is not specified like in remove() method, inly the index option

In [ ]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes lerning fun!']

# pop spot 2 from list
new_list.pop(2)

# check listr
print(new_list)

[3, 7, '@', 'TECH I.S.', 'makes lerning fun!']

***remove() vs. pop()***
*  the remove() function removes an element by identification
 * new_list.remove(element_to_remove)
* the pop() function removes an element by index indentification
 * new_list.remove(index_number_to_remove)

***List Slicing***
* used to extract a sub-selection of the list
 * index access works like string indexing and slicing

In [1]:
# define list
new_list = [3,7,20,'@', 'TECH I.S.', 'makes learning fun!']

# extract combinations of new_list extracts
print(new_list[:4])
print(new_list[2:])
print(new_list[1:5])
print(new_list[:])

[3, 7, 20, '@']
[20, '@', 'TECH I.S.', 'makes learning fun!']
[7, 20, '@', 'TECH I.S.']
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']

***Reverse a List***
* used to reverse the elements of a list
* can be done in two ways
 * by modifying the original list
 * without modifying the original list

In [2]:
# define list
new_list = [3, 7, 20, '@', 'TECH I.S.', 'MAKES LEARNING FUN']

# without modifying the original list
print(new_list[::-1])
print(new_list) # this is the unmodified one in the middle

# modify the original list
new_list.reverse()
print(new_list)

['MAKES LEARNING FUN', 'TECH I.S.', '@', 20, 7, 3]
[3, 7, 20, '@', 'TECH I.S.', 'MAKES LEARNING FUN']
['MAKES LEARNING FUN', 'TECH I.S.', '@', 20, 7, 3]

***Length of a List***
* returns the number of elements in the list

In [3]:
# define list
new_list = [3,7,20, '@', 'TECHI.S.', 'makes learning really fun!']

# print length of new_list
len(new_list)

6

***Min & Max Values of a List***
* min() returns the *minimum* value in the list
* max() returns the *maximum* value in the list
* NOTE: both methods accept only *homogeneous* lists
 * i.e. list having elements of similar data types

In [4]:
# define list
new_list = [8,12,7,10,53,33,21,99]

# check min and max of new list
print(min(new_list))
print(max(new_list))

# define list
new_list = ['x', '10', '99', 'twenty', '%$', '--']

# check the min and max of new_list
print(min(new_list))
print(max(new_list))

7
99
%$
x

***Count of an Element***
* returns the number of uccurrences of a given element in the list

In [5]:
# define list
new_list = [3, 4 , 7, 7 , 8, 90]

# count the number of uccurences of 7
print(new_list.count(7))

# count the number of uccurences of 10
print(new_list.count(4))

2
1

***Concatenate Lists***
* used to merge two lists and return a single list

In [6]:
# define two lists
first_list = ['three', 'hundred']
print(first_list)

second_list = ['words', 'in', 'a', 'paragraph']
print(second_list)

# concatenate lists
combined_list = first_list + second_list
print(combined_list)

['three', 'hundred']
['words', 'in', 'a', 'paragraph']
['three', 'hundred', 'words', 'in', 'a', 'paragraph']

***Multiply List Content***
* allows duplicating the list n times
* resultant list is the original list iterated n times

In [7]:
# define list
new_list = [3,4,5,'I a']

# multiply list
print(new_list*2)
print(new_list*3)

[3, 4, 5, 'I a', 3, 4, 5, 'I a']
[3, 4, 5, 'I a', 3, 4, 5, 'I a', 3, 4, 5, 'I a']

***Location of the first Occurence***
* index() method returns the positionof the first uccurence of the given element
* optional parameters:
 * the begin index and
 * the end index
* when optional arguments are given:
 * the element is searched only in the sub-list bound by begin and end indices
* When not supplied,
 * the element is searched in the whole list

In [9]:
new_list = [3,7,20, '@', 'TECH I.S.', 'makes learning really fun!']

# search index of 'TECH I.S.'
print(new_list.index('TECH I.S.'))

# search '@' with optional arguments
print(new_list.index('@', 1,4))

4
3

***Sort a List in Place***
* sort method sorts the list in ascending order
 * can only be performed on homogeneous lists, i.e. lists having elements of similar data type

In [10]:
# define list
new_list = [4,2,6,5,0,1]

# check unsorted list
print(new_list)

# sort list
new_list.sort()

# check sorted list
print(new_list)

[4, 2, 6, 5, 0, 1]
[0, 1, 2, 4, 5, 6]