<a href="https://colab.research.google.com/github/mahfuz978/TECH.I.S-Fundamentals/blob/main/Mahfuzur_Rahman_py10_1_1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Hello World**

In [1]:
print("Hello World")

Hello World

#**Help Command**

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#**Comments**

In [3]:
# this is a single comment
print("this is not a comment")

# comments can be added like this as well
"""
This is a
multi-line comment
"""
print("this is not a comment either")

this is not a comment
this is not a comment either

#**Variables**

In [4]:
# bind number 7 to variable "x"
x = 7 # the value of 7 is assigned to x

# print the value of x
print(x)

7

**Python Variable Naming Convention (Industry Standard)**


* variables names start with a lowercase letter or underscore
   * can be followed by numbers or underscore
* snake_case is aconventional way of writing variable names with multiple words 
* variable names cannot begin with a number but numbers can be a part of the variable name later
   * eg: names like: va923, `_app4r_` , f8_9, tmp; are allowed
   * eg: names like: 9va23. #app4r_ , f8-9, `tm*p` ; are  **NOT** allowed

#**Simple Program**


*   *input*: uses the input command
*   *output* : used the print command

In [5]:
name = input('What is your name?')
print('Welcome to the world of python,', name)

What is your name?mahfuz
Welcome to the world of python, mahfuz

#**Data Types**

*   a particular kind of data entity, defined by the values it can take
*   Python has several built-in data types, some of them are
  * numeric
  * text
  * sequence
  * mapping
  * boolean
  * set
* the type() function is used to check the data type of something in python

#**Numeric Data Types**


*   two types

1.   int is for integers
2.   float is for decimal numbers

In [6]:
# create int type variable
x = 7 # 7 is an integer

# check type of variable
type(x)

int

In [7]:
x = 3.8 
type(x)

float

#**Text Sequence Types**

In [8]:
'''
Strings are sequence of characters,
immutable,
and ordered.
'''

# define a string
python_string = "Tech is awesome!"

# check type
type(python_string)

str

#**Sequence Types**

**List**

In [9]:
'''
Sequnce types are:
list: mutable
tuble: immutable
range: immutable
'''

# define a list
list_example = ['3', 92, 'x', 33.14 ]
print(list_example)

['3', 92, 'x', 33.14]

In [10]:
# check the length of the list
print(len(list_example))

4

In [11]:
# check type
type(list_example)

list

**Tuple**

In [12]:
# define a tuple
tuple_example = (5,"11", 'a', 2.86)
print(tuple_example)

(5, '11', 'a', 2.86)

In [13]:
# check the length of the tuple
print(len(tuple_example))

# check type
type(tuple_example)

4

tuple

#**Range**

In [14]:
#define a range
range_example = range(7)
print(range_example)

# check length of the range
print(len(range_example))

# check type
type(range_example)

range(0, 7)
7

range

In [15]:
# define range with (start, stop, step)
range_example = range(0, 20, 2)
print(range_example)

# check length of the range
print(len(range_example))

# check type
print(type(range_example))

range(0, 20, 2)
10
<class 'range'>

#**Mapping Types**

In [16]:
'''
dictionary is a mapping data type
a dictionary is mutable
a dictionary is unordered
'''
# define a dictionary
b = {'one': 1, 'two' : 2, 'three': 3 }
print(b)

# check type()
type(b)

{'one': 1, 'two': 2, 'three': 3}

dict

#**Boolean Types**

* state of truth

   * may be True or False

In [17]:
# define a 'true' boolean
boolean = True

type(boolean)

bool

In [18]:
boolean = False

type(boolean)

bool

#**Set Types**

In [19]:
# set is an unordered collection of distinct objects

set_of_numbers = {0,9,1,5,7,2}

print(set_of_numbers)

{0, 1, 2, 5, 7, 9}

In [20]:
names = ['olivia', 'caleb', 'olivia']
names_set = set(names)
unique_names = list(names_set)
print(unique_names)

['olivia', 'caleb']

#**Operators**



*   popular kinds of operators


1.   numeric
2.   comparison
3.   logical
4.   assignment
5.   identity
6.   membership
7.   bitwise

**Numeric Operators**



*   Used with numeric data types to perform mathematical operations


   *   +: addition
   *   -: subtraction
   *   *: multiplication
   *   /: division
   *   //: floor division
   *   %: modulus of same thing as a remainder
   *   **: raising to power
   *   abs(): absolute value f a number
   *   round(): rounds a number
   *   bin(): get binary version of a number
   *   hex(): get hexadecimal version of a number

In [21]:
# set x, y and z to start exploring the operators
x = 5
y = 2.1
z = -13

In [22]:
print(x + y)

7.1

In [23]:
print(x - y)

2.9

In [24]:
print(x * y)

10.5

In [25]:
print(x / y)

2.380952380952381

In [26]:
print(x // y)

2.0

In [27]:
print(x % y)

0.7999999999999998

In [28]:
print(abs(z))

13

In [29]:
print(x ** y)

29.36547357720048

In [30]:
print(round(y))

2

In [31]:
print(round(3.7))

4

In [32]:
print(bin(37))

0b100101

In [34]:
print(hex(37))

0x25

In [35]:
help(hex)

Help on built-in function hex in module builtins:

hex(number, /)
    Return the hexadecimal representation of an integer.

    >>> hex(12648430)
    '0xc0ffee'

**Comparison Operators**

* used to compare two values
 * `< is less than`
 * `> is greater than`
 * `<= is less than or eqaul to`
 * `>= is greater than or equal to`
 * `== is equal to`
 * `!= is inequality`

In [36]:
# greater than
i = 3
j = 7

print(i>j)

False

In [37]:
# greater than or equal to
print(i>=j)

False

In [38]:
# less than
print(i<j)

True

In [39]:
# less than or equal to
print(i<=j)

True

In [40]:
# equality test #1
print(i == j)

False

In [41]:
# equality test #2
i = 3
j = 3

print(i==j)

True

In [42]:
# inequality Test #1
i = 3
j = 7

print(i != j)

True

In [43]:
# inequality test #2
i = 3
j = 3

print(i != j)

False

**Logic Operators**

*   used to combine conditional statements
  * and
  * or
  * not

***not Operators***

In [44]:
# 'not' operatror

a = True
print(not a)

False

***and Operator***

In [45]:
# a and b are True
a = True
b = True

print(a and b)

True

In [46]:
# only a is True
a = True
b = False

print( a and b)

False

In [47]:
# only b is true

a = False
b = True

print(a and b)

False

In [48]:
# a and b are both false
a = False
b = False

print(a and b)

False

***or Operator***

In [49]:
## 'or' operator

# a and b are true
a = True
b = True

print(a or b)

True

In [50]:
# only a is true
a = True
b = False

print(a or b)

True

In [51]:
# only b is true
a = False
b = True

print(a or b)

True

In [52]:
# a and b are both False
a = False
b = False

print(a or b)

False

**Assignment Operators**


*   used to assign values to variables
   * =
*   following operators combine numerical operations at the same time as assignment
   * +=
   * -=
   * *=
   * /=
   * //=
   * %=
   * **=

In [53]:
x = 21
print(x)

21

In [54]:
x += 3
print(x)

24

In [55]:
x -= 3
print(x)

21

In [56]:
x *= 3
print(x)

63

In [57]:
x /= 3
print(x)

21.0

In [58]:
x //= 3
print(x)

7.0

In [59]:
x %= 3
print(x)

1.0